<div class="min-h-screen bg-gray-50 flex items-center justify-center px-4">
  <div class="card">
    <div class="card2">
      <form
        (ngSubmit)="handleSubmit()"
        [formGroup]="loginForm"
        class="form space-y-6"
      >
        <p id="heading">Inicio de sesión</p>

        <div class="space-y-5">
          <app-form-field
            label="correo electrónico"
            fieldId="email"
            type="email"
            placeholder="tu@email"
            [required]="true"
            [errorMessage]="getErrorMessage('email')"
            formControlName="email"
          >
          </app-form-field>

          <app-form-field
            label="contraseña"
            fieldId="password"
            type="password"
            placeholder="*********"
            [required]="true"
            [errorMessage]="getErrorMessage('password')"
            formControlName="password"
          >
          </app-form-field>
        </div>

        <div class="btn">
          <button
            type="submit"
            [disabled]="!loginForm.valid"
            class="button-primary"
          >
            Iniciar sesión
          </button>
        </div>

        <button
          type="button"
          class="button-secondary"
          routerLink="/register"
        >
          ¿Aún no tienes cuenta? Registrarme
        </button>
      </form>
    </div>
  </div>
</div>
