@if (message) {
  <div
    class="mt-1 text-xs sm:text-sm flex items-start gap-2 rounded-lg py-1.5 px-2.5 border border-[#f85149] text-[#b22b2b] bg-[linear-gradient(#f851491a,#f851491a)]"
  >
    <!-- Icono de advertencia -->
    <svg
      stroke="currentColor"
      fill="none"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="w-4 h-4 mt-[1px]"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"
      ></path>
      <path d="M12 9v4"></path>
      <path d="M12 17h.01"></path>
    </svg>

    <span class="leading-snug">
      {{ message }}
    </span>
  </div>
}
